body {
    max-width: 740px;
    margin: 0 auto 120px;
    padding-top: 1.666em;
    padding-bottom: 1.666em;

    font: 16px/1.79 avenir lt, avenir, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
    font-size: calc(16px + (24 - 16) * (100vw - 320px)/(750 - 320));

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@media(min-width: 750px) {
    body {
        /* max-width: 1180px; */
        font-size: 24px;
    }
}
