main {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-left: 10px solid #f6bb47;
  padding-left: 10px;
  margin-left: 0;
}

section {
  margin-bottom: 5em;
}

.press-item main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-bottom: 1em;
}

.press-item main img {
  width: 100%;
}
