:root {
  --background-color: hsl(240, 9%, 98%);
  --link-primary-color: hsl(214, 100%, 44%);
  --link-secondary-color: hsl(188, 100%, 32%);
  --text-primary-color: hsl(240, 4%, 5%);
  --text-secondary-color: hsl(0, 0%, 45%);
  --text-conditional-color: hsl(240, 3%, 30%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(240, 5%, 17%);
    --link-primary-color: hsl(210, 100%, 64%);
    --link-secondary-color: hsl(177, 45%, 53%);
    --text-primary-color: hsl(240, 9%, 98%);
    --text-secondary-color: hsla(240, 9%, 98%, 0.8);
    --text-conditional-color: hsl(240, 9%, 98%);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 1em;
  padding-bottom: 1em;
  color: var(--text-primary-color);
  background-color: var(--background-color);
  font-family: 'Droid Sans Mono', monospace;
  transition-property: background-color, color;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

a {
  color: var(--link-primary-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 3px solid var(--link-primary-color);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;
  height: 100%;
}

.sidebar {
  justify-self: center;
  align-self: center;
}

.profile-img {
  max-width: 100%;
  height: auto;
  border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
  animation: wobble 15s ease-in-out alternate infinite;
}

.content h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.content h2,
.content p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}

.content .inline {
  display: inline;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .sidebar {
    order: 2;
  }

  .content {
    order: 1;
    justify-self: center;
    align-self: center;
    padding-left: 1em;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (inverted-colors: inverted) {
  img,
  video {
    filter: invert(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  body {
    transition: none;
  }
}

@keyframes wobble {
  50% {
    border-radius: 40% 73% 53% 53% / 64% 37% 60% 40%;
  }
  100% {
    border-radius: 40% 71% 55% 60% / 44% 70% 40% 73%;
  }
}
