/* Dodge Durango '14 --------------- */
/*

Default Red: #BB0708;
Hover Red: #D20F10;

Dark Default: #343434;

Dark Link: #BFBFBF;
Dark Link Hover: #FFFFFF;

*/

/* Overall ------------------------- */

/* apply a natural box layout model to all elements */
/** {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}*/

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "TradeGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #343434;
    background: url(../images/bg-tile.jpg) repeat fixed 0 0;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

em {
    font-style: italic;
}

::selection {
    background: #D20F10;
}

/* Helpers ------------------------- */

.locked {
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}

.js-hide {
    display: none;
}

.js-low-z-index {
    z-index: 99;
}

.sec.js-z-up {
    z-index: 1020;
}

.ipad-rotate {
    display: none;
}

/* Skrollr ------------------------- */

.skrollable {
    /* First-level skrollables are positioned relative to window */
    position: fixed;

    /* Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable */
    z-index: 100;
}

.skrollable .skrollable {
    /* Second-level skrollables are positioned relative their parent skrollable */
    position: absolute;
}

/* Grid ---------------------------- */

.push-left {
    /*width: 50%;*/
    float: left;
}

.push-right {
    /*width: 50%;*/
    float: right;
}

/* Disclaimer ---------------------- */

.disclaimer {
    color: #BFBFBF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.625em; /* 10px / 16px */
    line-height: 1.25;
}

.disclaimer-left {
    /*margin-top: 900px;*/
    /*margin-left: 20px;*/

    top: 900px;
    margin-left: 20px;
    position: absolute;
}

.disclaimer-dark {
    color: #343434;
}

/* Button -------------------------- */

.btn {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #343434;

    /* Disable user selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* -- CTA -------------------------- */

.btn-cta {
    display: inline-block;
    font-size: 1.3125em;
    line-height: 2.15;
    font-weight: 700;
    width: 210px;
    height: 43px;
    background: #FFF;
    background: rgba(255, 255, 255, 0.8);
    color: #343434;
}

.btn-cta:hover {
    background-color: #FFF;
}

.btn-cta-primary {
    color: #FFF;
    background-color: #BB0708;
}

.btn-cta-primary:hover {
    background-color: #D20F10;
}

/* -- Press Release ---------------- */

.btn-press-release {
    position: absolute;
    top: 950px;
    right: 110px;
    color: #E6E9EE;
    font-size: 0.875em; /* 14px / 16px */
    font-weight: 700;
}

.btn-press-release:hover {
    color: #FFF;
}


/* -- Close ------------------------ */

.btn-close {
    font-size: 0.75em; /* 12px / 16px */
    line-height: 2.166666667; /* 26ps / 12px */
    font-weight: 700;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 1001;
    color: #FFF;
    text-align: left;
    padding-left: 15px;
    width: 60px;
    height: 25px;
    background: #BB0708 url(../images/btn-close.png) no-repeat 50px 8px;
    *background: #BB0708 url(../images/btn-close.png) no-repeat 57px 10px;
}

.btn-close:hover {
    background-color: #D20F10;
}

.btn-close-modal {
    top: 0;
    right: 0;
}

/* -- Gallery ---------------------- */

.btn-gallery {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 1em;
    line-height: 1.5625; /* 25px / 16px */
    color: #FFF;
    text-align: left;
    height: 25px;
    padding-left: 25px;
    width: 60px; /* 85px - 25px */
    background: #333 url(../images/btn-gallery.png) no-repeat 9px 6px;
}

/* -- Download --------------------- */

.btn-download-container {
    float: right;
    margin-top: -15px;
    margin-right: 20px;
}

.btn-download {
    color: #FFF;
    text-transform: capitalize;
    font-size: 1em;
    background: url(../images/btn-download.png) no-repeat 0 2px;
    padding-left: 20px;
}


/* Header -------------------------- */

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: url(../images/header-strip.png) repeat-x 0 0;
    z-index: 9999;
}

.header-wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.header-client-logo {
    background: url(../images/dodge-logo.png) no-repeat 0 0;
    width: 95px;
    height: 25px;
    padding: 0;
    margin-left: 20px;
    margin-top: 15px;
    float: left;
}

.header-client-logo > a {
    width: 95px;
    height: 25px;
    display: block;
    direction: ltr;
    text-indent: -9999px;
}

.header-logo {
    background: url(../images/durango-logo.png) no-repeat 0 0;
    width: 255px;
    height: 65px;
    padding: 0;
    margin: 0 auto;
    direction: ltr;
    text-indent: -9999px;
}

.header-share {
    background: url(../images/header-stripes.png) no-repeat 0 0;
    width: 150px;
    height: 40px;
    padding: 0;
    float: right;
    border-right: 1px solid #E1E1E1;
}

.header-share > span {
    font-size: 0.875em; /* 14px / 16px */
    line-height: 3; /* 42px / 14px */
    font-weight: 700;
    color: #343434;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    /*width: 50px;*/
    padding-right: 20px;
    height: 40px;
    background: url(../images/header-share-icon.png) no-repeat 100% 13px;
    float: right;
    margin-right: 20px;
}

.header-share > span:hover {
    color: #BB0708;
    background-position: 100% -20px;
}

.header-sufu {
    float: right;
}

.btn-header-sufu {
    color: #BB0708;
    font-size: 1em; /* 18px / 16px */
    line-height: 2.625; /* 42px / 16px */
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    height: 40px;
    padding-left: 18px;
    padding-right: 20px;
}

.btn-header-sufu:hover {
    color: #D20F10;
}

/* Main Navigation ----------------- */

.nav-main {
    z-index: 1010;
    position: fixed;
    width: 100%;
    max-width: 1600px;
    top: 100px;
    /*top: 200px;*/
    /*right: 50px;*/
}

.nav-main ul {
    /*position: fixed;*/
    position: absolute;
    /*top: 100px;*/
    right: 20px;
    background: url(../images/nav-strip.png) no-repeat 50% 25px;
}

.nav-main li {
    margin-bottom: 25px;
}

.nav-item {
    display: block;
    height: 25px;
    width: 75px;
    text-align: center;
    background: #FFF;
    background: rgba(255, 255, 255, 0.75);
    color: #343434;
    text-decoration: none;
    font-size: 0.75em;
    line-height: 2.1;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #343434;
    background-color: #FFF;
}

.nav-item-active {
    color: #FFF;
    background: #D20F10;
}

.nav-item-active:hover {
    color: #FFF;
    background: #D20F10;
}

/* Sections ------------------------ */

.sec {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 1000px;
    width: 1600px;
    max-width: 100%;
    /*left: 50%;*/
    /*margin-left: -800px;*/

    position: relative;
    margin: 0 auto;
    /*left: auto;*/

    overflow: hidden;


}

.sec sup {
    font-size: 0.5em;
    vertical-align: super;
}

.sec-fixed {
    position: fixed;
    left: 50%;
    margin-left: -50%;
}

.second-background {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-position: 50% 50%;
    position: absolute;
}

/* -- Content ---------------------- */
.content-box {
    position: relative;
    margin-left: 130px;
    margin-right: 130px;
    /*width: 100%;*/
}

/* -- Heading ---------------------- */

.heading-box {
    max-width: 100%;
    min-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}

.heading-box-twoline {
    max-width: 570px;
}

.heading {
    color: #FFF;
    font-weight: normal;
    font-size: 3em;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 25px;
    background: url(../images/1600/header-split-light.png) no-repeat 50% 100%;
}

.heading-dark  {
    background-image: url(../images/1600/header-split-dark.png);
    color: #343434;
}

.heading-small {
    /* Note: This points to the 1024 version because it needs to be the smaller version. */
    background-image: url(../images/header-split-dark.png);
    padding-bottom: 15px;
    color: #343434;
}

.heading-forward {
    padding-bottom: 70px;
    background-image: url(../images/1600/forward-arrows.png);
    cursor: pointer;
}

/* -- Byline ----------------------- */

.byline-box {
    margin-left: auto;
    margin-right: auto;
}

.byline-box-large {
    max-width: 860px;
}

.byline-box-medium {
    max-width: 650px;
}

.byline {
    font-weight: 100;
    font-size: 1em;
    line-height: 1.5;
    color: #FFF;
    letter-spacing: 1px;
    text-align: center;
}

.byline-dark {
    color: #343434;
}

/* Sliding Transition -------------- */

.rhombus-blind-centerer {
    position: fixed;
    width: 100%;
    margin-left: -50%;
    top: 0;
    left: 50%;
}

.rhombus-blind {
    position: absolute;
    z-index: 110;
    height: 1000px;
    width: 1600px;
    left: 50%;
    margin-left: -800px;
    overflow: hidden;
}

/* basic rhombus setup */
.rhombus {
    position: absolute;
    top: 0;
    left: 0;
}

.rhombus-slant {
    overflow: hidden;
    position: absolute;
}

.rhombus-image {
    position: absolute;
}

/* rhombus slant transforms */
.csstransforms .rhombus-slant {
    -webkit-transform: rotate(41deg);
    -moz-transform: rotate(41deg);
    -o-transform: rotate(41deg);
    -ms-transform: rotate(41deg);
    transform: rotate(41deg);
}

.csstransforms .rhombus-image {
    -webkit-transform: rotate(-41deg);
    -moz-transform: rotate(-41deg);
    -o-transform: rotate(-41deg);
    -ms-transform: rotate(-41deg);
    transform: rotate(-41deg);

    -webkit-transform-origin: 800px 500px;
    -moz-transform-origin: 800px 500px;
    -o-transform-origin: 800px 500px;
    -ms-transform-origin: 800px 500px;
    transform-origin: 800px 500px; /* (rhombus width / 2) (rhombus height / 2) */
}


/* controls the slide position, starts to the left */
.rhombus-blind-slide {
    height: 100%; /* rhombus-blind height */
    width: 100%; /* rhombus-blind width (use % for easy animation) */
    top: 0;
    left: -250%;
}
/* larger than the rhombus-blind-slide and centered around it */
.rhombus-blind-slide .rhombus-slant {
    height: 4400px;
    width: 3500px;
    top: -1700px;
    left: -950px;
}
/* positioned so the background image lines up with rhombus-blind */
.rhombus-blind-slide .rhombus-image {
    height: 1000px; /* rhombus-blind height */
    width: 4800px;
    top: 1700px;
    left: 950px;
}

.slide-divider.rhombus-slant {
    height: 4400px;
    width: 773px;
    top: -1700px;
    left: 2481px;
}

/* image position with no rotation */
.slide-divider .rhombus-image {
    top: 1700px; /* same as rhombus-blind-slide rhombus-image */
    left: -2481px; /* -(slide-divider.rhombus-slant left) */
}

/* reposition image to account for rotation */
.csstransforms .slide-divider .rhombus-image {
    top: 3056.402042437874px;
    left: -1973.8620571105812px;
}

/* the "transparent" stripe that shows the underlying slide */
.skunk-stripe.rhombus-slant {
    z-index: 100;
    height: 4400px;
    width: 130px;
    top: 0;
    left: 322.4969971179962px;
}

/* don't rotate because it's a child of the slide-divider slant */
.csstransforms .skunk-stripe {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

/* position for no rotation */
.skunk-stripe .rhombus-image {
    top: 1700px; /* same as rhombus-blind-slide rhombus-image */
    left: -2803px; /* -(slide-divider.rhombus-slant left - skunk-stripe.rhombus-slant width) */
}
/* reposition image to account for rotation */
.csstransforms .skunk-stripe .rhombus-image {
    top: 3056.402042437874px;
    left: -2296.3590542285774px;
}

.rhombus-divider-image {
    background-position: 125% 0;
    background-repeat: no-repeat;
}

.rhombus-main-image,
.rhombus-stripe-image {
    background-position: 125% 0;
    background-repeat: no-repeat;
}

/* Modal --------------------------- */
.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.modal-container-shown {
    display: block;
    z-index: 1020;
}

.modal-box {
    padding: 20px;
}

/* -- Preloader Modal -------------- */

#preloader-container {
    background: #272525 url(../images/bg-tile.jpg) repeat fixed 0 0;
    z-index: 99999;
    display: none;
}

#preloader-wrapper {
    position: absolute;
    width: 0;
    top: 50%;
    height: 44px;
    margin-top: -21px;
}

#preloader-percentage {
    font-size: 40px;
    color: #FFF;
    float: right;
}

#preloader-percentage > i {
    font-size: 30px;
}

#preloader-progress {
    position: absolute;
    height: 5px;
    background: #FFF;
    width: 100%;
    top: 100%;
}

/* -- Live Modal ------------------- */

.live-modal-container {
    background: url(../images/1600/backgrounds/modal-live.jpg) no-repeat 50% 50%;
}

.live-modal-container .btn-close-modal {
    top: 65px;
    right: 21px;
}

.live-modal-box {
    width: 640px;
    height: 512px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -256px;
}

.live-byline {
    font-size: 1.125em; /* 18px / 16px */
    line-height: 1.11111111111; /* 20px / 18px */
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0;
    font-style: italic;
}

.live-sub-byline {
    color: #FFF;
    font-size: 0.875em; /* 14px / 16px */
    line-height: 1.42857142857; /* 20px / 14px */
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0;
    font-style: italic;
    padding-bottom: 10px;
}

.live-refresh-copy {
    font-size: 0.75em; /* 12px / 16px */
    width: 340px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: left;
    padding-left: 40px;
    background: url(../images/refresh.png) no-repeat 0 3px;
    cursor: pointer;
}


/* -- Press Release Modal ---------- */

.press-release-modal-container,
.features-modal-container {
    background-image: url(../images/bg-modal.jpg);
}

.press-release-copy-container {
    height: 95%;
    margin: 3% auto 0 auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    font-size: 0.875em; /* 14px / 16px */
    line-height: 1.24;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.press-release-copy-container .feature-heading {
    margin-top: 1em;
}

.press-release-copy-container p {
    margin-top: 1em;
}

.press-release-copy-container ul {
    list-style: disc;
}

.press-release-copy-container li {
    margin-left: 3em;
    margin-top: 0.5em;
}


/* -- Introduction ----------------- */

.sec-intro {
    top: 0;
    background-image: url(../images/1600/backgrounds/intro.jpg);
}

.intro-content-box {
    top: 180px;
}

.intro-forward-box {
    margin-top: 675px;
}

.intro-forward-box .heading-forward {
    font-size: 1em;
    text-transform: capitalize;
    padding-bottom: 50px;
}

.intro-disclaimer {
    text-align: center;
    top: 700px;
    width: 260px;
    margin: 0 auto;
}

/* -- Exterior LEDs ---------------- */

.sec-exterior-leds {
    overflow: hidden;
    background-image: url(../images/1600/backgrounds/exterior-lights-off.jpg);
}

.exterior-leds-second-background {
    position: absolute;
    max-width: 100%;
    top: 0;
    background-image: url(../images/1600/backgrounds/exterior-lights-on.jpg);
}

.exterior-leds-content-box {
    top: 175px;
    left: 0;
    width: 100%;
    margin: 0;
}

/* -- Exterior Rhombus ------------- */

.exterior-rhombus-container .rhombus-divider-image {
    background: transparent url(../images/1600/backgrounds/exterior-side-profile.jpg) 125% 0 no-repeat;
}

/* -- Exterior Wheels -------------- */

.exterior-wheels-content-box {
    float: right;
    top: 305px;
    width: 625px;
}

.exterior-wheels-container {
    color: #FFF;
    font-size: 0.906875em; /* 14.51px / 16px */
    line-height: 1.36; /* 21.76 / 16px */
    text-transform: uppercase;
    width: 100%;
}

.sec-exterior-wheels {
    background-color: #000;
    background-image: url(../images/1600/backgrounds/exterior-wheels-1-WRG.jpg);
}

.sec-exterior-wheels-1 {
    background-image: url(../images/1600/backgrounds/exterior-wheels-1-WRG.jpg);
}

.sec-exterior-wheels-2 {
    background-image: url(../images/1600/backgrounds/exterior-wheels-2-WRL.jpg);
}

.sec-exterior-wheels-3 {
    background-image: url(../images/1600/backgrounds/exterior-wheels-3-WRH.jpg);
}

.sec-exterior-wheels-4 {
    background-image: url(../images/1600/backgrounds/exterior-wheels-4-WPC.jpg);
}

.wheel {
    width: 280px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 40px;
    position: relative;
}

/* Remove margin-left from 1st and 3rd item. */
.wheel:first-child,
.wheel:first-child + .wheel + .wheel {
    margin-left: 0;
}

.wheel-selected,
.wheel:hover {
    cursor: pointer;
    background: url(../images/1600/wheels/wheel-selected.png) 100% 50% no-repeat;
}

.wheel-copy {
    height: 125px;
    width: 140px;
    padding-left: 150px;
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.wheel-1 {
    background-image: url(../images/1600/wheels/wheel-1-WRG.png);
}

.wheel-2 {
    background-image: url(../images/1600/wheels/wheel-2-WRL.png);
}

.wheel-3 {
    background-image: url(../images/1600/wheels/wheel-3-WRH.png);
}

.wheel-4 {
    background-image: url(../images/1600/wheels/wheel-4-WPC.png);
}

.wheel-size {
    font-size: 1.6875em;
    line-height: 1;
    font-weight: 700;
    display: block;
}

.wheel-2-disclaimer,
.wheel-3-disclaimer,
.wheel-4-disclaimer {
    display: none;
}

.sec-exterior-wheels-2 .wheel-2-disclaimer,
.sec-exterior-wheels-3 .wheel-3-disclaimer,
.sec-exterior-wheels-4 .wheel-4-disclaimer {
    display: block;
}

/* -- Exterior Taillamps ------------ */

.sec-exterior-taillamps {
    background-color: #000;
    background-image: url(../images/1600/backgrounds/exterior-taillamp-stars.jpg);
}

.sec-exterior-taillamps .taillamps-front {
    background: url(../images/1600/backgrounds/taillamp-on.png) no-repeat bottom center;
}

.sec-exterior-taillamps-alt {
    background-image: url(../images/1600/backgrounds/exterior-taillamp-sunset.jpg);
}

.sec-exterior-taillamps-alt .taillamps-front {
    background: url(../images/1600/backgrounds/taillamp-off.png) no-repeat bottom center;
}

.sec-exterior-taillamps-alt .heading {
    background-image: url(../images/1600/header-split-dark.png);
    color: #343434;
}

.sec-exterior-taillamps-alt .byline {
    color: #343434;
}

.taillamps-front {
    top: auto;
    bottom: 0;
}

.exterior-taillamps-content-box {
    top: 135px;
}

.taillamp-toggle-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 660px;
    position: relative;
    z-index: 100;
}

.taillamp-toggle-container p {
    text-align: center;
    margin-bottom: 5px;
    font: normal 0.875em/1.5 Arial, sans-serif;
    color: #FFF;
}

.triple-dip-taillamps {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
}



/* ---- Toggle Switch -------------- */

.btn-toggle-switch {
    width: 114px;
    height: 34px;
    margin: 0 auto;
    display: block;
    cursor: pointer;

    /* Disable user selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-toggle-on,
.btn-toggle-off {
    cursor: pointer;
    direction: ltr;
    text-indent: -9999px;
    width: 114px;
    height: 34px;
    background: url(../images/btn-toggle-on-off.png) no-repeat 0 0;
}

.btn-toggle-off {
    display: none;
    background-position: 0 -36px;
}

.btn-toggle-on {
    display: block;
    background-position: 0 0;
}


/* -- Interior Full Ip ------------- */

.sec-interior-full-ip {
    background-image: url(../images/1600/backgrounds/interior-full-ip.jpg);
}

.interior-full-ip-content-box {
    top: 800px;
}

/* -- Interior Rotary Shifter ------ */

.sec-interior-rotary-shifter {
    background-image: url(../images/1600/backgrounds/interior-rotary-shifter-off.jpg);
}
.sec-interior-rotary-shifter .second-background {
    background-image: url(../images/1600/backgrounds/interior-rotary-shifter-on.jpg);
}

.interior-rotary-shifter-content-box {
    top: 190px;
}

/* -- Interior UConnect ------------ */

.sec-interior-uconnect {
    background-image: url(../images/1600/backgrounds/interior-uconnect-1.jpg);
}
.sec-interior-uconnect .second-background {
    background-image: url(../images/1600/backgrounds/interior-uconnect-2.jpg);
}

.interior-uconnect-content-box {
    width: 600px;
    top: 625px;
}

/* -- Interior Rhombus ------------- */

.interior-tft-rhombus-container .rhombus-divider-image {
    background-image: url(../images/1600/backgrounds/interior-leather-detail.jpg);
}

.interior-tft-rhombus-container .rhombus-main-image,
.interior-tft-rhombus-container .rhombus-stripe-image {
    background-image: url(../images/1600/backgrounds/interior-bluray-off.jpg);
}

/* -- Interior TFT ----------------- */

.sec-interior-tft {
    background-image: url(../images/1600/backgrounds/interior-tft.jpg);
}


.interior-tft-content-box {
    top: 175px;
}

/* -- Interior Bluray -------------- */

.sec-interior-bluray {
    background-image: url(../images/1600/backgrounds/interior-bluray-off.jpg);
}

.sec-interior-bluray .second-background {
    background-image: url(../images/1600/backgrounds/interior-bluray-on.jpg);
}

.interior-bluray-content-box {
    width: 600px;
    top: 320px;
    z-index: 100;
}

/* -- Interior Full Seats ---------- */

.triple-dip-seats {
    position: absolute;
    width: 1600px;
    height: 120%;
    top: 0;
    left: 50%;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-left: -800px;
}

.interior-full-seats-rear {
    background-image: url(../images/interior-seats-rear.jpg);
}

.interior-full-seats-middle {
    background-image: url(../images/interior-seats-middle.png);
    background-position: 0 30px;
}

.interior-full-seats-front {
    background-image: url(../images/interior-seats-front.png);
    background-position: 0 80px;
}



.sec-performance-efficiency {
    background-image: url(../images/1600/backgrounds/performance-efficiency.jpg);
}

.performance-efficiency-content-box {
    width: 700px;
    top: 170px;
}

/* -- Performance Rhombus ------------- */

.performance-rhombus-container .rhombus-divider-image {
    background-image: url(../images/1600/backgrounds/engine-5.7-hemi.jpg);
}

.performance-rhombus-container .rhombus-main-image,
.performance-rhombus-container .rhombus-stripe-image {
    background-image: url(../images/1600/backgrounds/performance-power.jpg);
}

/* -- Performance Power ------------ */

.sec-performance-power {
    background-image: url(../images/1600/backgrounds/performance-power.jpg);
}

.performance-power-content-box {
    top: 100px;
}

/* -- Safety Profile --------------- */

.sec-safety-profile {
    background-image: url(../images/1600/backgrounds/safety-profile.jpg);
}

.safety-profile-content-box {
    top: 830px;
}

/* -- Safety Cage ------------------ */

.sec-safety-cage {
    background: #FFF url(../images/1600/backgrounds/safety-cage.gif) no-repeat top right;
}

.safety-cage-image {
    position: absolute;
    right: 920px;
    top: -10px;
    height: 891px;
    width: 600px;
}

.safety-cage-content-box {
    width: 700px;
    top: 320px;
}

.safety-cage-item {
    float: left;
    width: 185px;
    margin-top: 65px;
    margin-left: 70px;
}

.safety-cage-item:first-child {
    margin-left: 0;
}

.safety-cage-item-heading {
    font-size: 0.875em; /* 14px / 16px */
    line-height: 1.285714286; /* 18px / 14px */
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 5px;
}

.safety-cage-item > p {
    font-size: 0.875em; /* 14px / 16px */
    line-height: 1.285714286; /* 18px / 14px */
    font-weight: 100;
}

.safety-cage-item sup {
    font-size: 0.8em;
    vertical-align: 0.3em;
}

.safety-cage-disclaimer {
    margin-top: 900px;
    margin-left: 20px;
}

/* -- Three Sixty ------------------ */

.sec-features {
    background: #000;
    /*background-image: url(../images/1600/backgrounds/three-sixty.jpg);*/
}

.features-content-box {
    top: 100px;
    z-index: 1000;
}

.features-ctas {
    text-align: center;
}

.features-ctas > li {
    display: inline;
    margin-left: 12px;
    margin-right: 12px;
}

.mejs-shim,
.three-sixty-video {
    /*display: block;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 1600px;
    height: 1000px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.me-cannotplay {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    max-height: 100%;
}

.mejs-video.hide-video {
    position: fixed;
    top: -9999px;
    left: -9999px;
}

.mejs-layers,
.mejs-controls {
    display: none !important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.click-to-rotate {
    background: url(../images/click-to-rotate.png) no-repeat 50% 13px;
    display: block;
    width: 160px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    top: 630px;
    text-align: center;
    color: #868686;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 50px;
    cursor: pointer;
}

.click-to-rotate:hover {
    background-position: 50% -114px;
    color: #FFF;
}

.features-modal-box {
    width: 800px; /* 840 - 40 */
    height: 580px; /* 620 - 40 */
    margin: 0 auto;
    background: #FFF;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px; /* 800 / 2 */
    margin-top: -290px; /* 580 / 2 */
}

.features-heading-box {
    margin-bottom: 10px;
}

.features-byline-box {
    margin-bottom: 20px;
}

.features-byline {
    font-size: 0.875em; /* 14px / 16px */
    line-height: 1; /* 16px / 14px */
}

.feature-container {
    width: 360px;
    height: 210px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.feature-heading {
    font-size: 1.125em; /* 18px / 16px */
    line-height: 1; /* 16px / 16px */
    font-weight: 700;
}

.feature-list {
    font-size: 0.875em; /* 14px / 16px */
    line-height: 1; /* 16px / 16px */
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 20px;
    color: #343434;
}

.feature-list > li {
    list-style-type: disc;
    margin-top: 16px;
    padding-left: 1px;
}


/* -- Gallery ---------------------- */

.sec-gallery {
    background-color: #FFF;
    /*height: auto;*/
    /*position: fixed;*/
    /*top: 40px;*/
    /*z-index: 999;*/
    /*height: 1000px;*/
    /*display: none;*/
}

.gallery-container {
    margin: 0;
    width: 100%;
}

.gallery-container > li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}

.gallery-item {
    max-height: 100%;
    max-width: 100%;
}

.gallery-item:hover {
    cursor: pointer;
}

.gallery-image-container {
    display: none;
    position: absolute;
    top: 0;
    /*height: 1000px;*/
    width: 100%;
    background: url(../images/1600/backgrounds/loading-gray.gif) no-repeat 50% 50%;
}

.gallery-image-container-shown {
    display: block;
}

.gallery-image {
    max-height: 100%;
    max-width: 100%;
}

.gallery-caption {
    /*margin-top: -75px;*/
    padding-top: 30px;
    height: 45px; /* 75px - 30px (padding-top) */
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    /* 1000 - 130 */
    /*top: 870px; */
    /*position: fixed;*/
    /*bottom: 0;*/
}

.gallery-caption > p {
    font-size: 1.25em;
    line-height: 1;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
}

.gallery-disclaimer {
    font-size: 0.75em;
    text-transform: none;
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 42%;
    /*margin-top: -130px;*/
    height: 66px;
    width: 66px;
    direction: ltr;
    text-indent: -9999px;
    background-image: url(../images/gallery-arrows.png);
    background-repeat: no-repeat;
}

.btn-prev {
    background-position: 0 0;
    left: 20px;
}

.btn-prev:hover {
    background-position: 0 -70px;
}

.btn-next {
    background-position: -70px 0;
    right: 20px;
}

.btn-next:hover {
    background-position: -70px -70px;
}


/* -- Legal ---------------------- */
.sec-legal {
    height: auto;
    background-color: #FFF;
}

.legal-wrapper {
    background-color: #FFF;
    padding: 50px 0;
    clear: both;
    position: relative;
}

.legal-content-box {
    max-width: 900px;
    margin: 0 auto;
}

.header-legal {
    font-size: 1em; /* 18px / 16px */
    line-height: 1; /* 18px / 18px */
    font-weight: 700;
    letter-spacing: 0;
    font-style: oblique;
}

.legal-list {
    font-size: 0.875em; /* 14px / 16px */
    line-height: 1.357142857; /* 19px / 14px */
    font-weight: 100;
}

.legal-list > li {
    margin-bottom: 20px;
}

.sec-footer {
    background-color: #383838;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.bhp-promo-carousel {
    display: none;
}

/* Media Queries --------------------- */

/* - Tablet -------------------------- */
/* ---- 0 - 768px -------------------- */
@media (max-width: 768px) {

/*
    .sec {
        width: 768px;
    }

    .sec-safety-cage {
        background: #FFF;
    }

    .features-modal-box {
        margin-left: -450px;
    }

    .safety-cage-content-box {
        float: none;
        width: auto;
    }

    .safety-cage-item-container {
        width: 100%;
    }
*/
}

/* - Small Screens ------------------ */
@media (max-width: 1366px) and (max-height: 800px) {

    body {
        font-size: 12px;
        background: #000;
    }

    /* Header -------------------------- */
    .header-share > span {
        line-height: 3.63636363636; /* 40px / 11px */
    }

    .btn-header-sufu {
        line-height: 3.41666666667; /* 41px / 12px */
    }

    /* Disclaimer ---------------------- */

    .disclaimer-left {
        top: 615px;
    }

    /* Button -------------------------- */

    .btn-cta {
        line-height: 2.5;
        width: 170px;
        height: 38px;
    }

    .btn-close {
        line-height: 2.1;
        font-size: 1em;
    }

    .btn-gallery {
        line-height: 2;
    }

    .btn-press-release {
        top: 600px;
    }

    /* -- Heading ---------------------- */

    .heading-box {
        min-width: 100%;
    }

    .heading-forward {
        padding-bottom: 40px;
    }

    /* -- Byline ----------------------- */

    .byline-box-medium {
        max-width: 470px;
    }

    .byline-box-large {
        max-width: 760px;
    }

    /* Main Navigation ----------------- */

    .nav-item {
        line-height: 2.9;
    }

    /* Sections ------------------------ */

    .sec {
        height: 640px;
        background-position: 50% 0;
    }

    .second-background {
        background-position: 50% 0;
    }

    .rhombus-blind {
        height: 640px;
    }

    /* -- Introduction ----------------- */

    .intro-content-box {
        top: 82px;
    }

    .intro-content-box .heading-box-twoline {
        max-width: 420px;
        min-width: 250px;
    }

    .intro-forward-box .heading-forward {
        direction: ltr;
        text-indent: -9999px;
    }

    .intro-forward-box {
        margin-top: 385px;
    }

    /* -- Exterior LEDs ---------------- */

    .exterior-leds-content-box {
        top: 102px;
    }

    .exterior-rhombus-container .rhombus-divider-image {
        background-color: transparent;
        background-position: 125% 0;
        background-repeat: no-repeat;
    }

    /* -- Exterior Wheels -------------- */

    .exterior-wheels-content-box {
        top: 150px;
        width: 500px;
    }

    .exterior-wheels-container {
        width: auto;
        padding-left: 20px;
        margin-left: 50px;
    }

    .exterior-wheels-content-box .byline-box {
        max-width: 480px;
    }

    .wheel {
        width: 180px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .wheel-copy {
        height: 70px;
        width: auto;
        padding-left: 100px;
    }

    /* -- Exterior Taillamps ------------ */

    .sec-exterior-taillamps-alt .taillamps-front,
    .sec-exterior-taillamps .taillamps-front {
        background-repeat: no-repeat;
        background-position: bottom center;
    }

    .sec-exterior-taillamps-alt .heading {
        color: #343434;
    }

    .exterior-taillamps-content-box {
        top: 73px;
    }

    .taillamp-toggle-container {
        margin-top: 428px;
    }

    /* -- Interior Full Ip ------------- */

    .interior-full-ip-content-box {
        top: 522px;
    }

    /* -- Interior Rotary Shifter ------ */

    .interior-rotary-shifter-content-box {
        top: 81px;
    }

    /* -- Interior UConnect ------------ */

    .interior-uconnect-content-box {
        top: 380px;
        width: 450px;
    }

    /* -- Interior TFT ----------------- */

    .interior-tft-content-box {
        top: 84px;
    }

    .interior-tft-content-box .byline-box {
        max-width: 540px;
    }

    /* -- Interior Bluray -------------- */

    .interior-bluray-content-box {
        width: 490px;
        top: 385px;
    }

    .interior-bluray-content-box .heading-box {
        width: 400px;
        min-width: 400px;
    }

    /* -- Performance Efficiency ------- */

    .performance-efficiency-content-box {
        top: 80px;
        margin-left: 32px;
        width: 550px;
    }

    /* -- Performance Power ------------ */

    .performance-power-content-box {
        top: 60px;
        max-width: 610px;
        margin-left: auto;
        margin-right: auto;
    }

    /* -- Safety Profile --------------- */

    .safety-profile-content-box {
        top: 540px;
    }

    /* -- Safety Cage ------------------ */

    .safety-cage-image {
        display: none;
    }

    .safety-cage-content-box {
        top: 100px;
        margin: 0 auto;
        float: none;
    }

    /* -- Three Sixty ------------------ */

    .features-modal-box {
        width: 670px;
        height: 510px;
        margin-left: -335px;
        margin-top: -255px;
    }

    .feature-container {
        width: 290px;
        height: 190px;
    }

    embed.mejs-shim {
        /*top: -110px;*/
    }



    /* -- Legal ---------------------- */

    .sec-legal {
        height: auto;
    }

    .legal-content-box {
        max-width: 850px;
    }

}

/* - Small Screens - Images--------- */
/* ---- 0 - 1024px ----------------- */
@media (max-width: 1366px) and (max-height: 800px) {

    /* -- Heading ---------------------- */
    .heading {
        background-image: url(../images/header-split-light.png);
    }

    .heading-small,
    .heading-dark,
    .sec-exterior-taillamps-alt .heading {
        background-image: url(../images/header-split-dark.png);
    }

    .heading-forward {
        background-image: url(../images/forward-arrows.png);
    }

    /* -- Introduction ----------------- */

    .sec-intro {
        background-image: url(../images/1366/backgrounds/intro.jpg);
    }

    .live-modal-container {
        background: url(../images/1366/backgrounds/modal-live.jpg) no-repeat 50% 50%;
    }

    /* -- Exterior LEDs ---------------- */

    .sec-exterior-leds {
        background-image: url(../images/1366/backgrounds/exterior-lights-off.jpg);
    }

    .exterior-leds-second-background {
        background-image: url(../images/1366/backgrounds/exterior-lights-on.jpg);
    }

    .exterior-rhombus-container .rhombus-divider-image {
        background-image: url(../images/1366/backgrounds/exterior-side-profile.jpg);
    }

    /* -- Exterior Wheels -------------- */

    .wheel-selected,
    .wheel:hover {
        background-image: url(../images/wheels/wheel-selected.png);
    }

    .sec-exterior-wheels,
    .sec-exterior-wheels-1 {
        background-image: url(../images/1366/backgrounds/exterior-wheels-1-WRG.jpg);
    }

    .sec-exterior-wheels-2 {
        background-image: url(../images/1366/backgrounds/exterior-wheels-2-WRL.jpg);
    }

    .sec-exterior-wheels-3 {
        background-image: url(../images/1366/backgrounds/exterior-wheels-3-WRH.jpg);
    }

    .sec-exterior-wheels-4 {
        background-image: url(../images/1366/backgrounds/exterior-wheels-4-WPC.jpg);
    }

    .wheel-1 {
        background-image: url(../images/wheels/wheel-1-WRG.png);
    }

    .wheel-2 {
        background-image: url(../images/wheels/wheel-2-WRL.png);
    }

    .wheel-3 {
        background-image: url(../images/wheels/wheel-3-WRH.png);
    }

    .wheel-4 {
        background-image: url(../images/wheels/wheel-4-WPC.png);
    }

    /* -- Exterior Taillamps ------------ */

    .sec-exterior-taillamps {
        background-image: url(../images/1366/backgrounds/exterior-taillamp-stars.jpg);
    }

    .sec-exterior-taillamps .taillamps-front {
        background-image: url(../images/1366/backgrounds/taillamp-on.png);
    }

    .sec-exterior-taillamps-alt {
        background-image: url(../images/1366/backgrounds/exterior-taillamp-sunset.jpg);
    }

    .sec-exterior-taillamps-alt .taillamps-front {
        background-image: url(../images/1366/backgrounds/taillamp-off.png);
    }

    /* -- Interior Full Ip ------------- */

    .sec-interior-full-ip {
        background-image: url(../images/1366/backgrounds/interior-full-ip.jpg);
    }

    /* -- Interior Rotary Shifter ------ */

    .sec-interior-rotary-shifter {
        background-image: url(../images/1366/backgrounds/interior-rotary-shifter-off.jpg);
    }

    .sec-interior-rotary-shifter .second-background {
        background-image: url(../images/1366/backgrounds/interior-rotary-shifter-on.jpg);
    }

    /* -- Interior UConnect ------------ */

    .sec-interior-uconnect {
        background-image: url(../images/1366/backgrounds/interior-uconnect-1.jpg);
    }

    .sec-interior-uconnect .second-background {
        background-image: url(../images/1366/backgrounds/interior-uconnect-2.jpg);
    }

    /* -- Interior TFT ----------------- */

    .sec-interior-tft {
        background-image: url(../images/1366/backgrounds/interior-tft.jpg);
    }

    .interior-tft-rhombus-container .rhombus-divider-image {
        background-image: url(../images/1366/backgrounds/interior-leather-detail.jpg);
    }

    .interior-tft-rhombus-container .rhombus-main-image,
    .interior-tft-rhombus-container .rhombus-stripe-image,
    .sec-interior-bluray {
        background-image: url(../images/1366/backgrounds/interior-bluray-off.jpg);
    }

    /* -- Interior Bluray -------------- */

    .sec-interior-bluray .second-background {
        background-image: url(../images/1366/backgrounds/interior-bluray-on.jpg);
    }

    /* -- Performance Efficiency ------- */

    .sec-performance-efficiency {
        background-image: url(../images/1366/backgrounds/performance-efficiency.jpg);
    }

    .performance-rhombus-container .rhombus-divider-image {
        background-image: url(../images/1366/backgrounds/engine-5.7-hemi.jpg);
    }

    .performance-rhombus-container .rhombus-main-image,
    .performance-rhombus-container .rhombus-stripe-image,
    .sec-performance-power {
        background-image: url(../images/1366/backgrounds/performance-power.jpg);
    }

    /* -- Safety Profile --------------- */

    .sec-safety-profile {
        background-image: url(../images/1366/backgrounds/safety-profile.jpg);
    }

    /* -- Safety Cage ------------------ */

    .sec-safety-cage {
        background-image: url(../images/1366/backgrounds/safety-cage.gif);
    }

    /* -- Three Sixty ------------------ */

    .sec-features {
        /*background-image: url(../images/1366/backgrounds/three-sixty.jpg);*/
    }

    .click-to-rotate {
        top: 400px;
    }

    /* -- Gallery ---------------------- */
    .gallery-image {
        position: absolute;
        width: 1024px;
        margin-left: 50%;
        left: -512px;
        max-width: none;
    }
}

/* - Medium Screens ---------------- */
@media (min-width: 1367px) and (max-width: 1441px) {

}


/* - Very Large Screens ------------ */
@media only screen and (min-width: 1600px) {
    /*.nav-main,*/
    .sec-fixed,
    .second-background {
        left: 50%;
        margin-left: -800px;
    }

    .js-sec {
        width: 1600px;
        margin-left: -800px;
    }

    .three-sixty-video {
        top: -30px;
    }
}

/* - Table portrait only ----------- */
@media only screen and (max-device-width: 1024px) and (orientation:portrait) {

    body {
        height: 10px;
    }

    .ipad-rotate {
        display: block;
        width: 100%;
        background: #272525 url(../images/rotatescreen.jpg) no-repeat 0 0;
        height: 100%;
        z-index: 99999;
        position: fixed;
        top: 0;
        left: 0;
    }

    .ipad-rotate-heading {
        font-size: 2em;
        margin-top: 300px;
    }

    .ipad-rotate-byline {
        font-size: 1.25em;
    }
}

/* Weird one off fixes ------------- */
/* 1280 by 720 --------------------- */
@media (min-width: 1279px) and (max-height: 800px) {

    .gallery-container > li {
        height: 160px;
    }

    .gallery-item {
        max-height: none;
    }


}

/* 1440 by 900 --------------------- */
@media (min-width: 1367px) and (max-height: 905px) {
    .sec,
    .second-background {
        height: 850px;
        background-position: 50% 0;
    }

    .btn-press-release {
        top: 760px;
    }

    .intro-content-box {
        top: 110px;
    }

    .intro-forward-box {
        margin-top: 540px;
    }

    .exterior-leds-content-box {
        top: 135px;
    }

    .exterior-wheels-content-box {
        top: 205px;
    }

    .taillamp-toggle-container {
        margin-top: 540px;
    }

    .interior-full-ip-content-box {
        margin-top: -140px;
    }

    .interior-rotary-shifter-content-box {
        margin-top: -40px;
    }

    .interior-uconnect-content-box {
        margin-top: -120px;
    }

    .interior-tft-content-box {
        margin-top: -50px;
    }

    .safety-profile-content-box {
        margin-top: -170px;
    }

    .safety-cage-image {
        margin-top: -130px;
    }

    .safety-cage-content-box {
        top: 230px;
    }

    .disclaimer-left {
        top: 780px;
    }

    .sec-safety-profile,
    .sec-safety-cage,
    .sec-intro {
        background-position: 50% 50%;
    }

    .sec-legal {
        height: auto;
    }

    .three-sixty-video {
        top: -20px;
    }

    .click-to-rotate {
        top: 520px;
    }

}

/* - Print styles ------------------ */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /* Don't show links for images, or javascript/internal links */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        /* h5bp.com/t */
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
